<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список категорий</title>
</head>
<body>
    <div class="topnav">
        <a href="/users">Список людей</a>
        <a href="/user-search">Поиск по ИИН</a>
        <a href="/api/report">Свод по категориям</a>
    </div>
    <div th:switch="${categories}">
        <h2 th:case="null">Список пуст</h2>
        <div th:case="*">
            <h2>Категории</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Наименование</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category?.name}"></td>
                        <td><a th:href="@{category-update/{id}(id=${category.id})}">Редактировать</a></td>
                        <td><a th:href="@{category-delete/{id}(id=${category.id})}">Удалить</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/category-create">Добавить категорию</a></p>
    </div>
</body>
</html>