<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить человека</title>
</head>
<body>
    <div class="topnav">
        <a href="/users">Список людей</a>
        <a href="/categories">Список категорий</a>
        <a href="/user-search">Поиск по ИИН</a>
        <a href="/api/report">Свод по категориям</a>
    </div>
    <form action="#" th:action="@{/user-create}" th:object="${userEntity}" method="post">
        <label for="lastName">Фамилия</label>
        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия">
        <br/>
        <label for="firstName">Имя</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="Имя">
        <br/>
        <label for="middleName">Отчество</label>
        <input type="text" th:field="*{middleName}" id="middleName" placeholder="Отчество">
        <br/>
        <label for="iin">ИИН</label>
        <input type="number" onkeyup="lengthCheck(this);" th:field="*{iin}" id="iin" placeholder="ИИН">
        <br/>
        <div th:switch="${categories}">
            <div th:case="null">
                <label for="category-create">Список категорий пуст</label>
                <a id="category-create" href="/category-create">Добавить категорию</a>
            </div>
            <div th:case="*">
                <label for="category">Категория</label>
                <select class="form-control" id="category" name="category">
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:text="${category?.name}"></option>
                </select>
            </div>
        </div>
        <br/>
        <input type="submit" value="Добавить" onclick="return isIin;">
    </form>
</body>
<script>
    var isIin = false;
    function lengthCheck(object) {
        if (object.value.length === 12) {
            isIin = true;
        }
    }
</script>
</html>